$xxl: 1600px;
$xl: 1200px;

.layout {
  background: white;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.content {
  padding: 10vh 0;
}
.bg {
  background-color: #f8f8fb;
}

.mainText {
  padding-top: 70px;
}

.mainText button {
  font-weight: 800 !important;
  color: #06f;
}

.introMenu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  h2,
  h4 {
    font-weight: 750;
  }
  .introMenuItem {
    width: 16.5rem;
    h4 {
      font-weight: 800;
    }
    #startups {
      color: #ff9933;
    }
    #enterprise {
      color: #0265ff;
    }
    #smb {
      color: #3cc55a;
    }
    @media screen and (min-width: $xxl) {
      width: 25rem;
    }
  }
  .introDivider1 {
    border-top: 5.5px solid #ff9933;
    opacity: 0.5;
  }
  .introDivider2 {
    border-top: 5.5px solid #0265ff;
    opacity: 0.5;
  }
  .introDivider3 {
    border-top: 5.5px solid #3cc55a;
    opacity: 0.5;
  }
  .opacity {
    opacity: 1;
  }
}

.title {
  width: 60vw;
  font-size: 4.875rem !important;
  font-weight: 800 !important;
}

.service {
  font-weight: 800 !important;
}

.serviceLink {
  h1 {
    transition: color 0.25s ease-in-out;
    &:hover {
      color: #06f;
    }
  }
}

.divider {
  border-top: 3px solid rgba(0, 0, 0, 0.06) !important;
}

.serviceParagraph {
  width: 85%;
}

.paragraph {
  font-size: 1.375rem;
  width: 70%;
}

.stackButtons {
  background-color: #f8f8fb;
  padding: 2rem 0 2rem 2rem;
  cursor: pointer;
  border-radius: 1.125rem;
  transition: all 0.7s ease;
  h1 {
    padding-right: 3rem;
  }
}
.blue {
  @extend .stackButtons;

  h1,
  h4 {
    color: white;
  }
  background-color: #06f;
}

.fontAwesome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #06f;
  text-align: center;

  h4 {
    margin-top: 10px;
    font-weight: 500;
  }
  .icon {
    padding: 30px;
    background-color: #f8f8fb;
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
}
