.header {
  background: rgba($color: #fff, $alpha: 0.9);
  padding: 0 12rem;
  height: 100px;
  line-height: 100px;
  backdrop-filter: blur(15px);
}

.logoDiv {
  float: left;
  width: auto;
  height: auto;
}

.logo {
  width: 140px;
  height: auto;
}

.navMenu {
  background: transparent;
  float: right;
}

.layout {
  flex: none;
}

.services {
  text-align: center;
  display: flex;
  width: 35rem;
  justify-content: center;
  align-items: center;
}

.serviceLink {
  h5 {
    width: 12rem;
    transition: color 0.25s ease-in-out;
    &:hover {
      color: #06f;
    }
  }
}
